@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#chatbox {
  overflow-y: scroll; }

.chat-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transition: transform .6s ease-in;
  transition: transform .6s ease-in; }
  .chat-wrapper.show {
    opacity: 1; }
  .chat-wrapper > div:first-child {
    width: 100%;
    height: 20%;
    position: relative; }
    .chat-wrapper > div:first-child > .label {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "OpenSans-Bold";
      color: Yellowgreen;
      font-size: 90px;
      text-transform: uppercase;
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity .6s ease-in;
      transition: opacity .6s ease-in; }
      .chat-wrapper > div:first-child > .label.show {
        opacity: 1; }
  .chat-wrapper > div:last-child {
    position: relative;
    width: 100%;
    height: 80%; }

.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(1067px);
  position: absolute;
  margin-top: 100px;
  -webkit-transition: opacity .6s, transform .3s ease-in;
  transition: opacity .6s, transform .3s ease-in; }
  .chat-container.show {
    transform: translateY(0); }
  .chat-container:not(:last-child) {
    transform: translateY(-1067px); }
  .chat-container > label {
    color: Lightgray;
    font-family: "OpenSans";
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bolder;
    margin-top: 20px; }
  .chat-container > div {
    color: #333333;
    font-size: 110px;
    font-family: "OpenSans-Bold";
    font-weight: bolder;
    padding-top: 40px;
    padding-bottom: 40px; }
  .chat-container.pepper > label {
    color: Yellowgreen;
    font-weight: bolder;
    margin-top: 20px; }
  .chat-container.pepper > div.animation {
    -webkit-animation: answer-me 1s infinite;
    animation: answer-me 1s infinite; }
  .chat-container.user {
    animation-name: PopRight;
    padding-left: 30%;
    align-items: flex-end; }
    .chat-container.user > label {
      color: Yellowgreen;
      font-weight: bolder; }
    .chat-container.user > p {
      text-align: right; }

@keyframes PopLeft {
  from {
    transform: translateX(-150px); }
  to {
    transform: translateX(0px); } }
@keyframes PopRight {
  from {
    transform: translateX(150px); }
  to {
    transform: translateX(0px); } }
.answer-me {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  font-family: "OpenSans-Bold";
  font-size: 70px;
  color: #e6e6e6;
  background-color: Yellowgreen;
  text-align: center;
  transform: translateY(160px);
  opacity: 0;
  -webkit-transition: transform .6s, opacity .6s ease-in;
  transition: transform .6s opacity .6s ease-in; }
  .answer-me.show {
    opacity: 1;
    transform: translateY(0); }
  .answer-me > span {
    -webkit-animation: answer-me 1s infinite;
    animation: answer-me 1s infinite; }

@-webkit-keyframes answer-me {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }

/*# sourceMappingURL=chatbox.css.map */
