@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#title-page {
  display: flex;
  align-items: center;
  justify-content: center; }
  #title-page > img {
    opacity: 0;
    position: relative;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in; }
  #title-page > img:first-child {
    transform: translateX(-40%);
    top: 7%; }
    #title-page > img:first-child.show {
      transform: translateX(17%);
      opacity: 1; }
  #title-page > img:last-child {
    transform: translateX(40%);
    bottom: 7%; }
    #title-page > img:last-child.show {
      transform: translateX(-17%);
      opacity: 1; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#unit-list > div:first-child {
  width: 100%;
  height: 100px;
  font-family: "OpenSans";
  color: #666666;
  font-size: 50px;
  padding-top: 30px;
  letter-spacing: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center; }
#unit-list > div:last-child {
  width: 100%;
  height: 967px;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
  overflow-y: scroll; }
  #unit-list > div:last-child::-webkit-scrollbar {
    display: none; }
  #unit-list > div:last-child > div {
    width: 100%;
    height: 150px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s;
    opacity: 0;
    position: relative;
    top: 30%; }
    #unit-list > div:last-child > div.show {
      opacity: 1;
      top: 0; }
    #unit-list > div:last-child > div:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22); }
    #unit-list > div:last-child > div > div {
      display: flex;
      align-items: center; }
      #unit-list > div:last-child > div > div > div {
        font-family: "OpenSans";
        color: Yellowgreen;
        display: flex;
        align-items: center;
        justify-content: center; }
        #unit-list > div:last-child > div > div > div:first-child {
          width: 200px;
          height: 80%;
          font-size: 35px;
          border-right: 1px solid gainsboro;
          color: #b3b3b3; }
        #unit-list > div:last-child > div > div > div:last-child {
          font-size: 45px;
          padding-left: 50px;
          letter-spacing: 2px; }
    #unit-list > div:last-child > div i {
      font-size: 70px;
      color: #b3b3b3; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#match-it > img {
  width: 800px;
  height: 800px;
  opacity: 0.3;
  position: absolute;
  top: 3%;
  right: 3%; }
#match-it > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-family: "OpenSans";
  color: Yellowgreen; }
  #match-it > div > div:first-child {
    font-size: 250px;
    font-weight: 600;
    padding-left: 100px;
    box-sizing: border-box; }
  #match-it > div > div:last-child {
    font-size: 50px;
    font-weight: 100;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    margin-top: 150px;
    text-align: center; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#fill-it > img {
  width: 900px;
  height: 900px;
  opacity: 0.2;
  position: absolute;
  top: 3%;
  right: 5%; }
#fill-it > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-family: "OpenSans";
  color: Yellowgreen; }
  #fill-it > div > div:first-child {
    font-size: 250px;
    font-weight: 600;
    padding-left: 100px;
    box-sizing: border-box; }
  #fill-it > div > div:last-child {
    font-size: 50px;
    font-weight: 100;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    margin-top: 150px;
    text-align: center; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#put-it-together > img {
  width: 800px;
  height: 800px;
  opacity: 0.2;
  position: absolute;
  top: 3%;
  right: 3%; }
#put-it-together > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  font-family: "OpenSans";
  color: Yellowgreen; }
  #put-it-together > div > div:first-child {
    font-size: 170px;
    font-weight: 600;
    padding-left: 100px;
    box-sizing: border-box; }
  #put-it-together > div > div:last-child {
    font-size: 50px;
    font-weight: 100;
    padding-left: 200px;
    padding-right: 200px;
    box-sizing: border-box;
    margin-top: 200px;
    text-align: center; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#question-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  #question-page > .question {
    font-size: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 50px;
    font-family: "OpenSans";
    color: Yellowgreen; }
  #question-page > .options {
    width: 100%;
    height: 700px;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    #question-page > .options > button {
      height: 200px;
      width: 400px;
      color: #4d6719;
      background-color: yellowgreen;
      font-size: 50px;
      font-family: "OpenSans-Bold";
      border: solid 6px #212225;
      border-radius: 20px;
      box-sizing: border-box;
      margin-left: 20px;
      margin-right: 20px;
      outline: none; }
      #question-page > .options > button:not(.negative) {
        background: #99cd32;
        background: -moz-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #99cd32), color-stop(51%, #81b01a), color-stop(100%, #638513));
        background: -webkit-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
        background: -o-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
        background: -ms-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
        background: linear-gradient(to bottom, #99cd32 0%, #81b01a 51%, #638513 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cd32', endColorstr='#638513', GradientType=0 ); }
        #question-page > .options > button:not(.negative):active {
          color: #3e5214;
          background: #628011;
          background: -moz-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
          background: -webkit-gradient(left top, left bottom, color-stop(0%, #628011), color-stop(51%, #698f11), color-stop(100%, #83b02a));
          background: -webkit-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
          background: -o-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
          background: -ms-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
          background: linear-gradient(to bottom, #628011 0%, #698f11 51%, #83b02a 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#628011', endColorstr='#83b02a', GradientType=0 ); }
      #question-page > .options > button.negative {
        color: yellowgreen;
        background-color: #32373C;
        border: solid 6px yellowgreen; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#percent-label {
  margin: 20px;
  color: yellowgreen;
  font-size: 100px; }
  #percent-label:after {
    content: "%"; }

.percent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.unit-name {
  font-size: 150px;
  margin: 0;
  color: yellowgreen;
  font-family: "OpenSans-Bold";
  position: relative; }

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .button-wrapper > button {
    height: 200px;
    width: 400px;
    color: #4d6719;
    background-color: yellowgreen;
    font-size: 50px;
    font-family: "OpenSans-Bold";
    border: solid 6px #212225;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none; }
    .button-wrapper > button:not(.negative) {
      background: #99cd32;
      background: -moz-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #99cd32), color-stop(51%, #81b01a), color-stop(100%, #638513));
      background: -webkit-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: -o-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: -ms-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: linear-gradient(to bottom, #99cd32 0%, #81b01a 51%, #638513 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cd32', endColorstr='#638513', GradientType=0 ); }
      .button-wrapper > button:not(.negative):active {
        color: #3e5214;
        background: #628011;
        background: -moz-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #628011), color-stop(51%, #698f11), color-stop(100%, #83b02a));
        background: -webkit-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: -o-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: -ms-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: linear-gradient(to bottom, #628011 0%, #698f11 51%, #83b02a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#628011', endColorstr='#83b02a', GradientType=0 ); }
    .button-wrapper > button.negative {
      color: yellowgreen;
      background-color: #32373C;
      border: solid 6px yellowgreen; }

.progress-bar {
  padding: 10px;
  height: 100px;
  width: 1280px;
  background-color: #212225;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  .progress-bar > .bar {
    height: 100%;
    width: 0px;
    background-color: yellowgreen;
    border-radius: inherit;
    position: relative;
    overflow: hidden;
    -webkit-transition: width .6s ease-in;
    transition: width .6s ease-in; }
    .progress-bar > .bar:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      z-index: 1;
      background-size: 100px 100px;
      -webkit-animation: move 2s linear infinite;
      animation: move 2s linear infinite;
      overflow: hidden; }

@-webkit-keyframes move {
  from {
    background-position: 0 0; }
  to {
    background-position: 100px 100px; } }
@keyframes move {
  from {
    background-position: 0 0; }
  to {
    background-position: 100px 100px; } }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#alert-correct {
  position: absolute;
  width: 500px;
  height: 130px;
  background-color: #2D2E33;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
  right: -10%;
  top: 3%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all .3s; }
  #alert-correct.show {
    opacity: 1;
    right: 3%; }
  #alert-correct > img {
    width: 80px;
    height: 80px;
    margin-left: 10px; }
  #alert-correct > div {
    color: Yellowgreen;
    font-family: "OpenSans";
    font-size: 50px;
    margin-left: 30px; }

#alert-wrong {
  position: absolute;
  width: 500px;
  height: 130px;
  background-color: #2D2E33;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
  right: -10%;
  top: 3%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all .3s; }
  #alert-wrong.show {
    opacity: 1;
    right: 3%; }
  #alert-wrong > img {
    width: 80px;
    height: 80px;
    margin-left: 10px; }
  #alert-wrong > div {
    color: tomato;
    font-family: "OpenSans";
    font-size: 50px;
    margin-left: 30px; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#step-page {
  font-family: "OpenSans"; }
  #step-page > div:first-child {
    padding: 50px;
    box-sizing: border-box;
    color: yellowgreen;
    font-size: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder; }
  #step-page > div:last-child {
    width: 3000px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 15%;
    transition: all 1s; }
    #step-page > div:last-child.step-one {
      left: 15%; }
      #step-page > div:last-child.step-one > div:first-child {
        border: 30px solid yellowgreen;
        box-sizing: border-box;
        font-size: 300px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
        opacity: 1; }
    #step-page > div:last-child.step-two {
      left: -20%; }
      #step-page > div:last-child.step-two > div:nth-child(2) {
        border: 30px solid yellowgreen;
        box-sizing: border-box;
        font-size: 300px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
        opacity: 1; }
    #step-page > div:last-child.step-three {
      left: -55%; }
      #step-page > div:last-child.step-three > div:nth-child(3) {
        border: 30px solid yellowgreen;
        box-sizing: border-box;
        font-size: 300px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
        opacity: 1; }
    #step-page > div:last-child.step-four {
      left: -90%; }
      #step-page > div:last-child.step-four > div:last-child {
        border: 30px solid yellowgreen;
        box-sizing: border-box;
        font-size: 300px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.22);
        opacity: 1; }
    #step-page > div:last-child > div {
      width: 500px;
      height: 500px;
      border-radius: 100%;
      background-color: #2D2E33;
      color: yellowgreen;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 300px;
      font-weight: bolder;
      border: 30px solid transparent;
      box-sizing: border-box;
      box-shadow: 4px 1px 10px gainsboro;
      margin-top: 150px;
      margin-left: 50px;
      margin-right: 50px;
      transition: all 1s;
      opacity: 0.5; }

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#chatbox {
  overflow-y: scroll; }

.chat-wrapper {
  width: 100%;
  height: 100%;
  -webkit-transition: transform .6s ease-in;
  transition: transform .6s ease-in; }
  .chat-wrapper.show {
    opacity: 1; }
  .chat-wrapper > div:first-child {
    width: 100%;
    height: 20%;
    position: relative; }
    .chat-wrapper > div:first-child > .label {
      width: 100%;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "OpenSans-Bold";
      color: Yellowgreen;
      font-size: 90px;
      text-transform: uppercase;
      position: absolute;
      opacity: 0;
      -webkit-transition: opacity .6s ease-in;
      transition: opacity .6s ease-in; }
      .chat-wrapper > div:first-child > .label.show {
        opacity: 1; }
  .chat-wrapper > div:last-child {
    position: relative;
    width: 100%;
    height: 80%; }

.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(1067px);
  position: absolute;
  margin-top: 100px;
  -webkit-transition: opacity .6s, transform .3s ease-in;
  transition: opacity .6s, transform .3s ease-in; }
  .chat-container.show {
    transform: translateY(0); }
  .chat-container:not(:last-child) {
    transform: translateY(-1067px); }
  .chat-container > label {
    color: Lightgray;
    font-family: "OpenSans";
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bolder;
    margin-top: 20px; }
  .chat-container > div {
    color: #333333;
    font-size: 110px;
    font-family: "OpenSans-Bold";
    font-weight: bolder;
    padding-top: 40px;
    padding-bottom: 40px; }
  .chat-container.pepper > label {
    color: Yellowgreen;
    font-weight: bolder;
    margin-top: 20px; }
  .chat-container.pepper > div.animation {
    -webkit-animation: answer-me 1s infinite;
    animation: answer-me 1s infinite; }
  .chat-container.user {
    animation-name: PopRight;
    padding-left: 30%;
    align-items: flex-end; }
    .chat-container.user > label {
      color: Yellowgreen;
      font-weight: bolder; }
    .chat-container.user > p {
      text-align: right; }

@keyframes PopLeft {
  from {
    transform: translateX(-150px); }
  to {
    transform: translateX(0px); } }
@keyframes PopRight {
  from {
    transform: translateX(150px); }
  to {
    transform: translateX(0px); } }
.answer-me {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
  font-family: "OpenSans-Bold";
  font-size: 70px;
  color: #e6e6e6;
  background-color: Yellowgreen;
  text-align: center;
  transform: translateY(160px);
  opacity: 0;
  -webkit-transition: transform .6s, opacity .6s ease-in;
  transition: transform .6s opacity .6s ease-in; }
  .answer-me.show {
    opacity: 1;
    transform: translateY(0); }
  .answer-me > span {
    -webkit-animation: answer-me 1s infinite;
    animation: answer-me 1s infinite; }

@-webkit-keyframes answer-me {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }
* {
  margin: 0;
  padding: 0; }

body {
  width: 1707px;
  height: 1067px; }

.page {
  width: 100%;
  height: 100%;
  background-color: #edf2f5;
  opacity: 0;
  font-family: "OpenSans";
  position: absolute;
  z-index: -1;
  overflow: hidden; }
  .page.show {
    opacity: 1;
    z-index: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }

#introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "OpenSans"; }
  #introduction > div:first-child {
    width: 700px;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(50%);
    opacity: 0;
    -webkit-transition: transform 1s, opacity 1s ease-in;
    transition: transform 1s, opacity 1s ease-in; }
    #introduction > div:first-child.active {
      transform: translateX(0%);
      opacity: 1; }
    #introduction > div:first-child > img {
      width: 100%;
      height: 60%; }
  #introduction > div:nth-child(2) {
    width: 3px;
    height: 600px;
    background-color: yellowgreen;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in; }
    #introduction > div:nth-child(2).active {
      opacity: 1; }
  #introduction > div:last-child {
    width: 700px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: Yellowgreen;
    transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: transform 1s, opacity 1s ease-in;
    transition: transform 1s, opacity 1s ease-in; }
    #introduction > div:last-child.active {
      transform: translateX(-15%);
      opacity: 1; }
    #introduction > div:last-child > div:first-child {
      font-size: 80px; }
    #introduction > div:last-child > div:nth-child(2) {
      font-size: 50px; }

/*# sourceMappingURL=index.css.map */
