@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: 'OpenSans-Light';
  src: url(../fonts/OpenSans-Light.ttf); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf); }
#result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

#percent-label {
  margin: 20px;
  color: yellowgreen;
  font-size: 100px; }
  #percent-label:after {
    content: "%"; }

.percent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.unit-name {
  font-size: 150px;
  margin: 0;
  color: yellowgreen;
  font-family: "OpenSans-Bold";
  position: relative; }

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .button-wrapper > button {
    height: 200px;
    width: 400px;
    color: #4d6719;
    background-color: yellowgreen;
    font-size: 50px;
    font-family: "OpenSans-Bold";
    border: solid 6px #212225;
    border-radius: 20px;
    box-sizing: border-box;
    outline: none; }
    .button-wrapper > button:not(.negative) {
      background: #99cd32;
      background: -moz-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #99cd32), color-stop(51%, #81b01a), color-stop(100%, #638513));
      background: -webkit-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: -o-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: -ms-linear-gradient(top, #99cd32 0%, #81b01a 51%, #638513 100%);
      background: linear-gradient(to bottom, #99cd32 0%, #81b01a 51%, #638513 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99cd32', endColorstr='#638513', GradientType=0 ); }
      .button-wrapper > button:not(.negative):active {
        color: #3e5214;
        background: #628011;
        background: -moz-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, #628011), color-stop(51%, #698f11), color-stop(100%, #83b02a));
        background: -webkit-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: -o-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: -ms-linear-gradient(top, #628011 0%, #698f11 51%, #83b02a 100%);
        background: linear-gradient(to bottom, #628011 0%, #698f11 51%, #83b02a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#628011', endColorstr='#83b02a', GradientType=0 ); }
    .button-wrapper > button.negative {
      color: yellowgreen;
      background-color: #32373C;
      border: solid 6px yellowgreen; }

.progress-bar {
  padding: 10px;
  height: 100px;
  width: 1280px;
  background-color: #212225;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box; }
  .progress-bar > .bar {
    height: 100%;
    width: 0px;
    background-color: yellowgreen;
    border-radius: inherit;
    position: relative;
    overflow: hidden;
    -webkit-transition: width .6s ease-in;
    transition: width .6s ease-in; }
    .progress-bar > .bar:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
      z-index: 1;
      background-size: 100px 100px;
      -webkit-animation: move 2s linear infinite;
      animation: move 2s linear infinite;
      overflow: hidden; }

@-webkit-keyframes move {
  from {
    background-position: 0 0; }
  to {
    background-position: 100px 100px; } }
@keyframes move {
  from {
    background-position: 0 0; }
  to {
    background-position: 100px 100px; } }

/*# sourceMappingURL=result.css.map */
